# Cars 4 You

### Import the needed libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# data partition
from sklearn.model_selection import train_test_split

# filter methods
# spearman 
# chi-square
import scipy.stats as stats
from scipy.stats import chi2_contingency

# wrapper methods
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.feature_selection import RFE

# embedded methods
from sklearn.linear_model import LassoCV

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# set random seed for reproducibility
RSEED = 42
np.random.seed(RSEED)

### Import the dataset

In [2]:
test_data = pd.read_csv('data/test.csv', sep = ",")

## Metadata

`carID` : An attribute that contains an identifier for each car <br>
`Brand` : The car's main brand (e.g. Ford, Toyota) <br>
`model` : The car model <br>
`year`: The year of Registration of the Car <br>
`mileage` : The total reported distance travelled by the car (in miles) <br>
`tax` : The amount of road tax (in £) that, in 2020, was applicable to the car in question <br>
`fuelType`: Type of Fuel used by the car (Diesel, Petrol, Hybrid, Electric) <br>
`mpg`: Average Miles per Gallon <br>
`engineSize`: Size of Engine in liters (Cubic Decimeters) <br>
`paintQuality%`: The mechanic's assessment of the cars' overall paint quality and hull integrity (filled by the mechanic during evaluation) <br>
`previousOwners`: Number of previous registered owners of the vehicle. <br>
`hasDamage`: Boolean marker filled by the seller at the time of registration stating whether the car is damaged or not <br>
`price`: The car's price when purchased by Cars 4 You (in £) <br>

### Explore the data

In [3]:
test_data.head()

,carID,Brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,89856,Hyundai,I30,2022.878006,Automatic,30700.000000,petrol,205.0,41.5,1.6,61.0,3.0,0.0
1,106581,VW,Tiguan,2017.000000,Semi-Auto,-48190.655673,Petrol,150.0,38.2,2.0,60.0,2.0,0.0
2,80886,BMW,2 Series,2016.000000,Automatic,36792.000000,Petrol,125.0,51.4,1.5,94.0,2.0,0.0
3,100174,Opel,Grandland X,2019.000000,Manual,5533.000000,Petrol,145.0,44.1,1.2,77.0,1.0,0.0
4,81376,BMW,1 Series,2019.000000,Semi-Auto,9058.000000,Diesel,150.0,51.4,2.0,45.0,4.0,0.0

In [4]:
test_data.tail()

,carID,Brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
32562,105775,VW,Tiguan,2017.0,Manual,27575.00000,Petrol,145.0,46.3,1.4,94.0,1.0,0.0
32563,81363,BMW,X2,2020.0,Automatic,1980.00000,Petrol,145.0,34.0,2.0,39.0,3.0,0.0
32564,76833,Audi,Q5,2019.0,Semi-Auto,8297.00000,Diesel,145.0,38.2,2.0,88.0,4.0,0.0
32565,91768,Mercedes,A Class,2019.0,Manual,-50755.21023,Petrol,145.0,28.5,1.3,81.0,1.0,0.0
32566,99627,Toyota,Yaris,2017.0,Automatic,11071.00000,Petrol,30.0,58.0,1.3,98.0,4.0,0.0

In [5]:
# Define the variable carID as the new index
test_data.set_index('carID', inplace = True)

In [6]:
# Check the number of columns and rows of the data
test_data.shape

(32567, 12)

In [7]:
# Check the name of each column of the data
test_data.columns

Index(['Brand', 'model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'paintQuality%', 'previousOwners', 'hasDamage'],
      dtype='object')

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32567 entries, 89856 to 99627
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           31918 non-null  object
 1   model           31917 non-null  object
 2   year            31914 non-null  float64
 3   transmission    31944 non-null  object
 4   mileage         31878 non-null  float64
 5   fuelType        31911 non-null  object
 6   tax             29259 non-null  float64
 7   mpg             29279 non-null  float64
 8   engineSize      31939 non-null  float64
 9   paintQuality%   31942 non-null  float64
 10  previousOwners  31970 non-null  float64
 11  hasDamage       31970 non-null  float64
dtypes: float64(8), object(4)
memory usage: 3.2+ MB

In [9]:
# Calculate the basic descriptive statistics of the data
test_data.describe(include = "all")

,Brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
count,31918,31917,31914.000000,31944,31878.000000,31911,29259.000000,29279.000000,31939.000000,31942.000000,31970.000000,31970.0
unique,64,593,NaN,38,NaN,29,NaN,NaN,NaN,NaN,NaN,NaN
top,Ford,Focus,NaN,Manual,NaN,Petrol,NaN,NaN,NaN,NaN,NaN,NaN
freq,6360,2721,NaN,16312,NaN,16113,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2017.102299,NaN,22952.658921,NaN,120.569239,55.210728,1.665377,64.446667,2.006118,0.0
std,NaN,NaN,2.207969,NaN,22132.758713,NaN,65.560570,17.644635,0.574467,21.142188,1.472310,0.0
min,NaN,NaN,1991.000000,NaN,-58540.574478,NaN,-91.121630,-43.421768,-0.103493,1.638913,-2.345650,0.0
25%,NaN,NaN,2016.000000,NaN,7298.250000,NaN,125.000000,46.300000,1.200000,47.000000,1.000000,0.0
50%,NaN,NaN,2017.000000,NaN,17225.500000,NaN,145.000000,54.300000,1.600000,65.000000,2.000000,0.0
75%,NaN,NaN,2019.000000,NaN,32500.000000,NaN,145.000000,62.800000,2.000000,82.000000,3.000000,0.0
max,NaN,NaN,2024.121759,NaN,279000.000000,NaN,580.000000,470.800000,6.600000,125.594308,6.258371,0.0

In [10]:
# Get the unique values for each column of the data
cols = test_data.columns
for name in cols:
    print(f"{name}: \n{test_data[name].unique()}")

Brand:
['Hyundai' 'VW' 'BMW' 'Opel' 'Ford' 'Mercedes' 'Skoda' 'Toyot' 'Toyota'
 'Audi' nan 'For' 'Ope' 'toyota' 'vw' 'hyundai' 'MW' 'SKODA' 'ord' 'udi'
 'bmw' 'V' 'BM' 'HYUNDAI' 'OPEL' 'mercedes' 'audi' 'Mercede' 'pel' 'opel'
 'FORD' 'yundai' 'ford' 'Aud' 'oyota' 'MERCEDES' 'ercedes' 'AUDI' 'koda'
 'Hyunda' 'W' 'skoda' 'Skod' 'ercede' 'TOYOTA' 'ERCEDES' 'kod' 'ORD' 'v'
 'ud' 'M' 'FOR' 'for' 'MERCEDE' 'YUNDAI' 'PEL' 'ope' 'or' 'TOYOT' 'hyunda'
 'oyot' 'UDI' 'mw' 'pe' 'bm']
model:
[' I30' ' Tiguan' ' 2 Series' ' Grandland X' '1 Series' ' Fiesta' ' X1'
 ' B Class' ' Focus' ' Superb' ' 5 Series' ' C Class' ' Up' ' Aygo' 'Golf'
 ' M CLAS' ' Land Cruiser' ' TT' ' Adam' ' Zafira' ' E Class' ' Golf'
 ' 3 Series' ' IX20' ' A4' ' Yaris' ' Passat' ' I10' ' Mokka X'
 ' EcoSport' ' 1 Series' ' 4 Series' ' A7' ' Corsa' ' Kuga' ' Grand C-MAX'
 ' Q2' ' M4' ' A Class' ' RAV4' ' Fabia' ' Insignia' ' A1' ' X6' ' Meriva'
 ' Caravelle' ' Octavia' ' Auris' ' X-CLASS' ' FOCUS' ' Astra' ' V Class'
 ' Polo' ' Karoq' ' Shuttle' ' Mokka' ' Q5' ' Tucson' ' A3' ' SL CLASS'
 ' Corolla' ' a class' ' Ka+' ' X3' ' I40' ' I20' ' Kamiq' nan ' IX35'
 ' Crossland X' ' Q3' ' Viva' ' GLA Class' ' Astr' ' CLS Class' ' KA'
 ' FABIA' ' a3' 'Polo' ' Focu' ' Galaxy' ' X2' ' Kodiaq' ' GLC Class'
 ' Vivaro' ' Mondeo' ' Touran' ' CL Class' ' CORSA' 'Aygo' ' X5' ' FIESTA'
 'Auris' ' mokka x' ' Verso' ' Touareg' ' T-Roc' ' fiesta' ' Fiest' ' Q'
 ' A5' ' S Class' ' C Clas' ' Scirocco' ' X7' ' B-MAX' ' 8 Series' ' A6'
 'C Class' ' Santa Fe' ' GL Class' '3 Series' ' GLE Class' ' corsa'
 'Astra' ' grandland x' 'Mokka X' ' Beetle' ' POLO' ' touareg' 'A Class'
 ' e class' ' X4' ' Pol' ' Golf SV' ' Octavi' 'E Class' 'Q2' ' Sharan'
 'c class' ' Gol' ' C-MAX' ' KAROQ' ' astra' ' M6' ' A8' ' MOKKA'
 ' CLA CLASS' ' KODIAQ' ' Kona' ' auris' ' KA+' ' Citigo' ' 3 SERIES'
 ' Prius' 'CL Class' ' 4 series' ' Rapid' ' Fusion' ' kuga' ' 3 Serie'
 'Corsa' '5 Series' ' ASTRA' ' c class' 'Fiesta' 'Crossland X' ' a6'
 ' MOKKA X' ' G CLAS' ' SLK' ' Yeti Outdoor' ' Q7' ' C-HR' 'KA' ' M5'
 ' SUPERB' ' ka+' 'Passat' ' T-Cross' ' Avensis' ' Ioniq' ' Amarok'
 ' T-ROC' ' cls class' ' Viv' ' Z4' ' California' ' M2' ' M3' ' Arteon'
 'I10' ' 1 Serie' ' Scala' ' Hilux' ' YARIS' 'Q3' ' rav4' ' Puma'
 ' Mokka ' 'Focus' ' GTC' ' Fabi' ' Zafira Tourer' ' ix35' ' S-MAX'
 ' b class' 'Santa Fe' 'Mokka' ' Super' ' Edge' ' octavi' 'Viva' ' GOLF'
 ' CC' ' RS3' ' X' ' 3 series' ' santa fe' ' tiguan' ' CL CLASS' ' focus'
 ' Auri' 'C-MAX' '2 Series' ' yeti outdoor' ' Tiguan Allspace' ' C CLASS'
 ' RS4' 'Kuga' ' golf' ' Combo Life' ' Caddy Maxi Life' ' Tourneo Custom'
 ' Mustang' ' Yari' ' 1 series' ' 7 SERIES' ' q2' ' polo' 'Corolla' ' i10'
 ' a5' ' Yeti' ' VERSO' ' 2 Serie' ' a1' ' kodiaq' ' 7 Series' ' ZAFIR'
 ' Arteo' ' Veloster' ' PRIUS' ' AURIS' ' Mokk' 'Kodiaq' ' U' ' fabia'
 ' A' ' gla class' ' INSIGNIA' ' 5 SERIES' ' I800' ' RAV' 'A1'
 ' Tiguan Allspac' ' B-MA' ' Monde' 'Fiest' 'Grand C-MAX' 'GLA Class'
 ' A CLASS' ' x2' ' m5' ' M Class' ' 4 Serie' ' CLA Class' ' S-MA'
 'Yeti Outdoor' ' 1 SERIES' ' Grandland ' ' adam' ' gl class' ' corolla'
 ' tiguan allspace' ' fox' ' GLB Class' ' Kug' ' E CLASS' ' MONDEO'
 ' 6 Series' ' mokka' ' IQ' ' R8' 'A6' ' aygo' ' Tucso' '4 Series' ' GT86'
 'Scirocco' 'Octavia' ' 5 series' ' Cors' ' GLE CLASS' 'TT' ' insignia'
 ' golf sv' ' passat' ' sharan' 'Yaris' ' AGILA' ' GLS Class' 'X1' ' RS5'
 ' EcoSpor' 'A3' ' TIGUAN' 'V Class' ' CL Clas' ' Zafir' ' octavia' ' Ka'
 ' tucson' ' E Clas' ' Grand Tourneo Connect' ' T-Ro' ' antara' 'Insignia'
 ' KUGA' ' X-CLAS' 'Golf SV' 'A4' 'I2' '180' 'SL CLASS' ' 4 SERIES'
 ' Supra' ' scirocco' ' SQ5' ' a4' ' galaxy' ' 2 SERIES' ' hilux'
 'S Class' 'Zafira' 'GLE Class' 'A5' ' Ayg' ' Yeti Outdoo' ' glc class'
 ' GLC Clas' ' B CLASS' ' Agila' ' Citig' ' Q8' 'Grand Tourneo Connect'
 ' Tourneo Custo' ' SQ7' ' Toura' ' citigo' 'GLC Class' ' combo life'
 'FIESTA' 'I8' ' Tourneo Connect' ' GLA CLASS' ' VIVA' ' Coroll'
 ' YETI OUTDOOR' 'T-Roc' ' i3' 'C-HR' ' I2' ' Hilu' 'Tucson' ' MERIVA'
 ' 2 series' ' ZAFIRA' 'EcoSport' 'PASSAT' ' Antara' ' G Class' ' 6 Serie'
 ' Kon' ' A Clas' ' Caddy Life' 'Tiguan' 'I30' ' jetta' ' Passa' ' c-hr'
 'Meriva' ' R Class' 'I800' ' cl class' ' B Clas' ' Edg' ' GLC CLASS'
 ' q5' ' Insigni' ' S3' ' UP' 'Edge' ' b-max' ' 5 Serie' ' ECOSPORT'
 ' HILU' ' AYGO' ' kona' ' GLA Clas' ' karoq' ' amarok' ' M CLASS' 'VERSO'
 ' rav' ' KAMIQ' ' Caravell' ' Amica' ' OCTAVIA' 'SQ5' ' c-max' ' focu'
 ' touran' 'CLS Class' ' Crossland ' ' T' 'Fabia' ' RS6' ' tigua'
 ' proace verso' 'Grandland X' ' grand c-max' ' viva' ' x1' 'Focu'
 ' rapid' ' Camry' 'golf' ' TIGUA' ' SL CLAS' ' prius' ' a'
 ' PROACE VERSO' ' Tigra' ' SCALA' ' c-h' ' Fox' ' PASSAT' ' i30' 'A'
 ' Tigua' ' PASSA' 'Up' ' Eos' ' M' 'C CLASS' 'X3' ' Combo Lif' 'Q'
 ' fiest' ' kamiq' 'Ioniq' ' Roomster' ' Santa F' ' yaris' ' CLK'
 ' Californi' ' Meriv' ' 5 SERIE' ' Ampera' ' I1' ' Kodia' ' COROLLA'
 ' x3' ' gol' 'Q5' ' gtc' ' C-MA' ' S5' ' CLC Class' 'Kamiq' 'GOLF'
 ' Galax' ' GALAXY' ' Jetta' 'I20' ' TUCSON' ' x5' ' yeti outdoo'
 '2 series' 'Citigo' 'Superb' ' Ada' ' caravelle' ' KONA' 'Sharan'
 'Caravelle' ' meriva' ' SHARA' ' gle class' ' Grand Tourneo Connec'
 ' ioniq' ' c clas' 'X5' ' arteon' ' COMBO LIFE' 'Mustang' ' i8' ' RS7'
 'CITIGO' ' TOURA' 'q5' ' CLS CLASS' 'Ka+' ' Scirocc' ' YETI'
 ' Transit Tourneo' ' zafira tourer' ' S Clas' ' SHUTTLE' 'Prius' 'Camry'
 ' OCTAVI' ' mondeo' ' ecosport' ' CROSSLAND X' ' ADAM' ' TOURAN'
 ' Vectra' ' fusion' ' FOCU' ' verso' 'TIGUAN' ' up' ' x4' ' Golf S'
 ' edge' 'FOCUS' 'Jetta' ' Caddy' ' I4' 'Q7' ' CLA Clas' ' POL'
 ' Grand C-MA' 'i8' ' GL Clas' 'Galaxy' 'Adam' 'RS4' 'Tiguan Allspace'
 ' yeti' 'Mondeo' '6 Series' ' CITIGO' 'e class' ' avensis' ' crossland x'
 'IX20' ' 7 series' 'Touran' 'CC' 'kodiaq' ' IONIQ' ' superb' 'YARIS'
 'Pum' ' I3' 'X-CLASS' 'Yari' 'a5' 'Karoq' ' Z3' ' S CLASS'
 ' land cruiser' ' SCIROCCO' 'Q8' ' q3' 'CLA Class' 'B Class' ' zafira'
 ' C CLAS' ' SL' 'S-MAX' ' i20' 'yaris' 'Combo Life' ' INSIGNI'
 ' SANTA FE' ' ka' 'viva' ' GLS Clas' ' S4' ' Terracan' ' Rapi'
 'PROACE VERSO' ' scala' ' K' ' Pum' 'Hilux' ' Camr' 'X7' ' Cascada'
 ' GOLF SV']
year:
[2022.87800554 2017.         2016.         2019.         2018.
 2011.         2015.                   nan 2023.26798867 2014.
 2020.         2013.         2010.         2024.12175905 2008.
 2012.         2010.56500919 2010.37154646 2011.21085349 2009.
 2022.69668507 2007.         2023.38982198 2023.97731126 2023.36707842
 2004.         2010.26863473 2010.67696784 2023.1169636  2002.
 2023.60527574 2012.69574039 2006.         2000.         2003.
 1997.         2011.11118842 2009.81675711 2010.7464032  2001.
 1999.         1998.         2005.         1991.         1996.        ]
transmission:
['Automatic' 'Semi-Auto' 'Manual' 'unknow' 'Manua' 'automatic' nan
 'semi-auto' 'MANUAL' 'Semi-Aut' 'unknown' 'emi-Auto' 'utomatic'
 'SEMI-AUTO' 'anual' 'Automati' 'manual' 'AUTOMATIC' ' Manual ' ' Manual'
 'UNKNOWN' 'anua' 'AUTOMATI' 'nknown' 'MANUA' 'Other' ' MANUAL ' 'manual '
 'manua' 'UTOMATIC' 'automati' 'utomati' 'ANUAL' 'emi-auto' 'EMI-AUTO'
 'SEMI-AUT' 'Manual ' ' manual ' 'emi-Aut']
mileage:
[ 30700.         -48190.65567291  36792.         ...  27575.
   8297.          11071.        ]
fuelType:
['petrol' 'Petrol' 'Diesel' 'Diese' 'Hybrid' 'iesel' 'Petro' 'hybrid'
 'etrol' 'DIESEL' nan 'PETROL' 'diesel' 'Other' 'iese' 'diese' 'etro'
 'petro' 'HYBRID' 'Hybri' 'ther' 'ETROL' 'ybrid' 'IESEL' 'DIESE' 'PETRO'
 'hybri' 'other' 'Othe' 'Electric']
tax:
[205.         150.         125.         145.         200.
 300.                  nan 160.          20.           0.
  30.         240.         135.         260.         299.47350391
 570.         235.         555.         326.02823317 165.
 -56.19320154 140.         327.91577835 265.         -49.15354066
 -45.78061049 305.         325.         294.84340933 -43.24208237
 277.38425448 -60.6840948  316.29630636  10.         330.
 115.         195.         -20.24107949 316.48718937 565.
 120.         303.14889146 290.48678508 -31.91494466 -18.33074314
 515.         245.         580.         315.         290.
 220.         -91.12163048 280.         190.         540.
 230.         130.         185.         270.        ]
mpg:
[ 4.15000000e+01  3.82000000e+01  5.14000000e+01  4.41000000e+01
  6.57000000e+01  5.89000000e+01  4.79000000e+01  6.42000000e+01
  6.28000000e+01  6.14000000e+01  9.47863804e+01  6.90000000e+01
  3.98000000e+01  3.04000000e+01  3.92000000e+01  3.01000000e+01
  5.77000000e+01  5.33000000e+01             nan  4.09000000e+01
  6.73000000e+01  5.04000000e+01  6.89000000e+01  7.63000000e+01
  4.96000000e+01  4.22000000e+01  1.00998943e+02  8.60000000e+01
  7.85000000e+01  4.87000000e+01  3.77000000e+01  5.43000000e+01
  6.01000000e+01  1.66000000e+02  3.25000000e+01  4.35000000e+01
  5.23000000e+01  4.56000000e+01  5.76000000e+01  3.49000000e+01
  4.71000000e+01  2.94000000e+01  7.24000000e+01  3.58000000e+01
  7.43000000e+01  3.67000000e+01  4.28000000e+01  3.28000000e+01
  4.04000000e+01  3.62000000e+01  6.17000000e+01  3.44000000e+01
  5.54000000e+01  3.72000000e+01  2.88000000e+01  2.07454998e+01
  5.65000000e+01  4.30000000e+01  8.15689396e+01  3.17000000e+01
  3.21000000e+01  6.70000000e+01  5.50000000e+01  4.63000000e+01
  1.10344977e+02  4.48000000e+01  7.06000000e+01  3.14000000e+01
  2.46000000e+01  3.36000000e+01  6.60000000e+01  9.42917895e+00
  2.80000000e+01  5.80000000e+01  1.88300000e+02  1.34500000e+02
  3.40000000e+01  2.69000000e+01  8.31000000e+01  8.83000000e+01
  2.48000000e+01  7.64000000e+01  2.85000000e+01  2.50000000e+01
  8.56000000e+01  5.88000000e+01  5.11000000e+01  3.53000000e+01
  3.10000000e+01  2.14000000e+01  3.32000000e+01  3.87000000e+01
  1.66200000e+02  3.45000000e+01  1.51041810e+02  2.77094895e+01
  4.77000000e+01  2.91000000e+01  8.83216395e+01  9.28268995e+01
  2.07100948e+01  8.07000000e+01  7.80000000e+01  3.07000000e+01
  2.72000000e+01  2.64000000e+01  5.66000000e+01  1.63501525e+01
  4.36000000e+01  6.88000000e+01  1.14172678e+01  2.74000000e+01
  9.41000000e+01  1.41200000e+02  7.84000000e+01  9.21104552e+01
  1.56900000e+02  1.44971463e+01  4.21000000e+01  2.21000000e+01
  6.11000000e+01  2.67000000e+01  6.56000000e+01  2.82000000e+01
  2.77000000e+01  4.03000000e+01  4.34000000e+01  1.00900000e+02
  2.59000000e+01  2.30000000e+01  8.97736927e+01  7.86000000e+01
  9.82146197e+00  5.13000000e+01  1.48700000e+02  2.97000000e+01
 -4.34217675e+01  2.26000000e+01  2.80000000e+00  2.41000000e+01
  2.39000000e+01  1.41300000e+02  4.60000000e+01  8.80000000e+00
  2.37000000e+01  5.44000000e+01  4.70800000e+02  2.10000000e+01
  2.56800000e+02  2.95000000e+01  3.00000000e+01  2.17300000e+02
  2.33000000e+01  4.45000000e+01  5.55000000e+01  4.70000000e+01
  3.76000000e+01  1.17700000e+02  2.16000000e+01  3.86000000e+01
  2.28000000e+01  2.09000000e+01  6.27000000e+01  5.50000000e+00
  4.80000000e+01  2.35000000e+02  1.89000000e+01  5.30000000e+01
  1.76600000e+02  2.35400000e+02  2.11000000e+01  2.55000000e+01
  2.54000000e+01  7.44000000e+01  5.00000000e+01  2.19000000e+01
  3.29000000e+01  2.01800000e+02  1.13000000e+02  2.24000000e+01
  3.71000000e+01  2.32000000e+01  3.00000000e-01  1.22800000e+02
  2.35000000e+01  2.08000000e+01  1.10000000e+01  2.66000000e+01
  2.63000000e+01]
engineSize:
[ 1.6         2.          1.5         1.2         1.                 nan
  2.1         3.          2.8         1.4         2.5         1.8
  2.3         1.7         2.98579344  1.1         4.          2.9
  2.6631132   1.3         3.2         2.06411863  2.2         5.5
  3.82275785  0.         -0.1034928   0.19146242  3.72371217  0.31340658
  6.3         0.18642488  4.4         3.5         2.4         3.73923548
  0.16286595  4.2         0.30707394  5.          2.63120047  5.2
  6.2         0.7395339   2.61964142  2.78177621  0.15452932  2.7
  1.9         0.37112737  3.7         4.7         0.6         5.4
  6.          4.1         6.6       ]
paintQuality%:
[ 61.          60.          94.          77.          45.
  64.          50.          71.          99.          73.
  78.          40.          35.          76.          53.
  90.                  nan  42.          70.          75.
  79.          98.          62.          88.          59.
  97.          85.          89.          92.          63.
  36.          56.          54.          52.          66.
  80.          91.          31.          37.          67.
  30.          84.          69.          55.          57.
  48.          44.          39.          82.          34.
  33.         125.10995148   3.20741784  65.          86.
  74.         125.00377307  87.          72.          93.
  46.          38.          47.          49.          83.
  96.          51.          32.          81.          43.
  95.          41.          68.          58.           3.17268306
   1.76947364   3.22574362 125.30194543 125.5694986    3.1152953
   3.25476013   3.14037046 125.59430832 125.36650692   2.72515272
 125.18872876   1.63891309 125.20203342 125.4535988 ]
previousOwners:
[ 3.          2.          1.          4.          0.                 nan
 -2.34565     6.25823052  6.23017958  6.25837066 -2.29943868  6.21772443
 -2.33512284  6.2482512   6.23308217 -2.33744529  6.24583495  6.24177863
 -2.33936045 -2.31225953 -2.34030622 -2.31733109 -2.34010209  6.22789796]
hasDamage:
[ 0. nan]

In [14]:
# Check for any duplicated observations
test_data.duplicated().sum()

np.int64(0)

In [11]:
# Check the data types of the variables
test_data.dtypes

Brand              object
model              object
year              float64
transmission       object
mileage           float64
fuelType           object
tax               float64
mpg               float64
engineSize        float64
paintQuality%     float64
previousOwners    float64
hasDamage         float64
dtype: object

In [12]:
# Check for any missing values
test_data.isna().sum()

Brand              649
model              650
year               653
transmission       623
mileage            689
fuelType           656
tax               3308
mpg               3288
engineSize         628
paintQuality%      625
previousOwners     597
hasDamage          597
dtype: int64

We have a lot of missing values, so let's take care of them. But, first, let's divide the columns into metric and non-metric features.

In [15]:
non_metric_features = ["Brand", "model", "transmission", "fuelType"]
metric_features = test_data.columns.drop(non_metric_features).to_list()

In [16]:
# Calculate the mean for each metric feature
means = test_data[metric_features].mean()
means

year               2017.102299
mileage           22952.658921
tax                 120.569239
mpg                  55.210728
engineSize            1.665377
paintQuality%        64.446667
previousOwners        2.006118
hasDamage             0.000000
dtype: float64

In [18]:
# Calculate the median for each metric feature
medians = test_data[metric_features].median()
medians

year               2017.0
mileage           17225.5
tax                 145.0
mpg                  54.3
engineSize            1.6
paintQuality%        65.0
previousOwners        2.0
hasDamage             0.0
dtype: float64

In [20]:
# Do an histogram to choose which method we will use to fill the missing values with