# Cars 4 You

### Import the needed libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# data partition
from sklearn.model_selection import train_test_split

# filter methods
# spearman 
# chi-square
import scipy.stats as stats
from scipy.stats import chi2_contingency

# wrapper methods
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.feature_selection import RFE

# embedded methods
from sklearn.linear_model import LassoCV

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# set random seed for reproducibility
RSEED = 42
np.random.seed(RSEED)

### Import the dataset

In [2]:
train_data = pd.read_csv('data/train.csv', sep = ",")
test_data = pd.read_csv('data/test.csv', sep = ",")

## Metadata

`carID` : An attribute that contains an identifier for each car <br>
`Brand` : The car's main brand (e.g. Ford, Toyota) <br>
`model` : The car model <br>
`year`: The year of Registration of the Car <br>
`mileage` : The total reported distance travelled by the car (in miles) <br>
`tax` : The amount of road tax (in £) that, in 2020, was applicable to the car in question <br>
`fuelType`: Type of Fuel used by the car (Diesel, Petrol, Hybrid, Electric) <br>
`mpg`: Average Miles per Gallon <br>
`engineSize`: Size of Engine in liters (Cubic Decimeters) <br>
`paintQuality%`: The mechanic's assessment of the cars' overall paint quality and hull integrity (filled by the mechanic during evaluation) <br>
`previousOwners`: Number of previous registered owners of the vehicle. <br>
`hasDamage`: Boolean marker filled by the seller at the time of registration stating whether the car is damaged or not <br>
`price`: The car's price when purchased by Cars 4 You (in £) <br>

### Explore the data

In [3]:
train_data.head()

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,69512,VW,Golf,2016.0,22290,Semi-Auto,28421.0,Petrol,NaN,11.417268,2.0,63.0,4.000000,0.0
1,53000,Toyota,Yaris,2019.0,13790,Manual,4589.0,Petrol,145.0,47.900000,1.5,50.0,1.000000,0.0
2,6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.0,Petrol,145.0,40.900000,1.5,56.0,4.000000,0.0
3,29021,Ford,FIESTA,2018.0,12500,anual,9102.0,Petrol,145.0,65.700000,1.0,50.0,-2.340306,0.0
4,10062,BMW,2 Series,2019.0,22995,Manual,1000.0,Petrol,145.0,42.800000,1.5,97.0,3.000000,0.0

In [4]:
train_data.tail()

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
75968,37194,Mercedes,C Class,2015.0,13498,Manual,14480.0,etrol,125.0,53.3,2.0,78.0,0.0,0.0
75969,6265,Audi,Q3,2013.0,12495,Semi-Auto,52134.0,Diesel,200.0,47.9,2.0,38.0,2.0,0.0
75970,54886,Toyota,Aygo,2017.0,8399,Automatic,11304.0,Petrol,145.0,67.0,1.0,57.0,3.0,0.0
75971,860,Audi,Q3,2015.0,12990,Manual,69072.0,iesel,125.0,60.1,2.0,74.0,2.0,0.0
75972,15795,Ford,Fiesta,2018.0,10495,Manual,16709.0,Petro,145.0,64.2,1.1,38.0,1.0,0.0

In [5]:
# Define the variable carID as the new index
train_data.set_index('carID', inplace = True)

In [6]:
# Check the number of columns and rows of the data
train_data.shape

(75973, 13)

In [7]:
# Check the name of each column of the data
train_data.columns

Index(['Brand', 'model', 'year', 'price', 'transmission', 'mileage',
       'fuelType', 'tax', 'mpg', 'engineSize', 'paintQuality%',
       'previousOwners', 'hasDamage'],
      dtype='object')

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75973 entries, 69512 to 15795
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           74452 non-null  object
 1   model           74456 non-null  object
 2   year            74482 non-null  float64
 3   price           75973 non-null  int64
 4   transmission    74451 non-null  object
 5   mileage         74510 non-null  float64
 6   fuelType        74462 non-null  object
 7   tax             68069 non-null  float64
 8   mpg             68047 non-null  float64
 9   engineSize      74457 non-null  float64
 10  paintQuality%   74449 non-null  float64
 11  previousOwners  74423 non-null  float64
 12  hasDamage       74425 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 8.1+ MB

In [9]:
# Calculate the basic descriptive statistics of the data
train_data.describe(include = "all")

,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
count,74452,74456,74482.000000,75973.000000,74451,74510.000000,74462,68069.000000,68047.000000,74457.000000,74449.000000,74423.000000,74425.0
unique,72,735,NaN,NaN,40,NaN,34,NaN,NaN,NaN,NaN,NaN,NaN
top,Ford,Focus,NaN,NaN,Manual,NaN,Petrol,NaN,NaN,NaN,NaN,NaN,NaN
freq,14808,6353,NaN,NaN,38050,NaN,37995,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2017.096611,16881.889553,NaN,23004.184088,NaN,120.329078,55.152666,1.660136,64.590667,1.994580,0.0
std,NaN,NaN,2.208704,9736.926322,NaN,22129.788366,NaN,65.521176,16.497837,0.573462,21.021065,1.472981,0.0
min,NaN,NaN,1970.000000,450.000000,NaN,-58540.574478,NaN,-91.121630,-43.421768,-0.103493,1.638913,-2.345650,0.0
25%,NaN,NaN,2016.000000,10200.000000,NaN,7423.250000,NaN,125.000000,46.300000,1.200000,47.000000,1.000000,0.0
50%,NaN,NaN,2017.000000,14699.000000,NaN,17300.000000,NaN,145.000000,54.300000,1.600000,65.000000,2.000000,0.0
75%,NaN,NaN,2019.000000,20950.000000,NaN,32427.500000,NaN,145.000000,62.800000,2.000000,82.000000,3.000000,0.0
max,NaN,NaN,2024.121759,159999.000000,NaN,323000.000000,NaN,580.000000,470.800000,6.600000,125.594308,6.258371,0.0

In [10]:
# Get the unique values for each column of the data
cols = train_data.columns
for name in cols:
    print(f"{name}: \n{train_data[name].unique()}")

Brand:
['VW' 'Toyota' 'Audi' 'Ford' 'BMW' 'Skoda' 'Opel' 'Mercedes' 'FOR'
 'mercedes' 'Hyundai' 'w' 'ord' 'MW' 'bmw' nan 'yundai' 'BM' 'Toyot' 'udi'
 'Ope' 'AUDI' 'V' 'opel' 'pel' 'For' 'pe' 'Mercede' 'audi' 'MERCEDES'
 'OPEL' 'koda' 'FORD' 'Hyunda' 'W' 'Aud' 'vw' 'hyundai' 'skoda' 'ford'
 'TOYOTA' 'ercedes' 'oyota' 'toyota' 'SKODA' 'Skod' 'HYUNDAI' 'kod' 'v'
 'for' 'SKOD' 'aud' 'KODA' 'PEL' 'yunda' 'or' 'UDI' 'OYOTA' 'HYUNDA' 'mw'
 'OPE' 'mercede' 'ERCEDES' 'ercede' 'TOYOT' 'MERCEDE' 'ORD' 'ud' 'ope'
 'AUD' 'hyunda' 'skod' 'toyot']
model:
[' Golf' ' Yaris' ' Q2' ' FIESTA' ' 2 Series' '3 Series' ' A3' ' Octavia'
 ' Passat' ' Focus' ' Insignia' ' A Clas' ' Q3' ' Fabia' ' A Class' ' Ka+'
 ' 3 Series' ' GLC Class' ' I30' ' C Class' ' Polo' ' E Class' ' C Clas'
 ' Q5' ' Up' ' Fiesta' ' C-HR' ' Mokka X' ' Corsa' ' Astra' ' TT'
 ' 5 Series' ' Aygo' ' 4 Series' ' SLK' ' Viva' ' T-Roc' 'Focus'
 ' EcoSport' ' Tucson' ' EcoSpor' nan ' X-CLASS' ' CL Class' ' IX20'
 ' i20' ' Rapid' ' a1' ' Auris' ' sharan' ' I20' ' Adam' ' X3' ' A8'
 ' GLS Class' ' B-MAX' ' A4' ' Kona' ' I10' ' A1' ' Mokka' ' fiesta'
 ' S-MAX' ' X2' ' Crossland X' ' Tiguan' ' A5' ' GLE Class' ' C CLASS'
 ' mokka x' ' Zafira' ' Ioniq' ' A6' ' Mondeo' ' Yeti Outdoor' ' X1'
 'POLO' ' INSIGNIA' ' Scala' ' S Class' ' 1 Series' ' Kamiq' ' Kuga'
 ' Tourneo Connect' ' Q7' ' GLA Class' ' Arteon' ' polo' ' SL CLASS'
 'Tucson' ' Santa Fe' ' Grandland X' ' I800' ' ASTRA' ' RAV4' ' c class'
 ' Touran' ' Citigo' ' Focu' ' Roomster' ' Prius' ' Corolla' ' Fiest'
 ' B Class' ' Sharan' ' Q' ' Kodiaq' ' V Class' ' POLO' ' GOLF' ' E Clas'
 ' Caddy Maxi Life' ' SUPERB' ' Astr' ' Getz' 'T-Roc' ' YARIS'
 ' Combo Life' ' FOCUS' ' Beetle' ' E CLASS' ' PRIUS' 'Fabia' ' Galaxy'
 ' M3' ' GTC' ' 2 series' '1 Series' ' 1 SERIES' ' X4' 'Golf' 'Auris'
 ' KA' ' IX35' ' 3 Serie' 'E Class' ' Grand Tourneo Connect' ' Shara'
 ' M4' ' 3 series' ' Tourneo Custom' 'Touran' ' Superb' ' focus'
 '5 Series' ' Z4' ' 2 serie' ' X5' ' Meriva' ' Octavi' ' yeti outdoor'
 ' Kug' ' RS6' ' Verso' ' Touareg' ' MONDEO' ' Shuttle' ' CLS Class'
 ' C-MAX' ' Mokka ' ' Puma' ' CLA Class' ' I40' ' q3' ' x1' 'X5'
 ' Tiguan Allspace' ' 6 Series' ' Caravelle' ' crossland x' ' 4 SERIES'
 ' Karoq' ' a5' ' I3' 'A4' ' Mokk' 'Ka+' ' Grand C-MAX' ' Pol'
 ' GRAND C-MAX' ' T-Cross' ' 4 Serie' 'Astra' 'Q3' ' viva' ' 4 serie'
 ' A7' ' GLE Clas' ' Golf SV' 'A Class' ' A' ' 1 Serie' ' KUGA' ' Gol'
 ' Agila' ' AURIS' ' Ayg' ' GT86' 'C Class' ' astra' ' corsa' ' Yeti'
 ' California' '4 series' ' X' 'A5' 'Touareg' ' Land Cruiser' ' MOKKA X'
 ' a4' ' EDGE' ' i10' ' 5 Serie' ' X6' 'Toura' 'Karoq' ' Caddy Life'
 ' rav4' ' 8 Series' 'GLC Class' 'Polo' ' Fusion' ' GL Class' ' Scirocco'
 ' TOURAN' ' kuga' ' Z3' ' SL CLAS' ' fabia' ' Kodia' 'ASTRA' ' tiguan'
 '2 Series' ' PROACE VERSO' ' hilux' ' Passa' ' Hilux' 'GLA Class'
 ' Amarok' ' FABIA' ' Edge' 'CLA Class' ' CC' ' x5' ' Insigni' ' 7 Series'
 'Q5' ' Avensis' ' 5 SERIES' 'Meriva' ' Eos' ' M Class' 'Yaris' ' VERSO'
 'A1' ' Grandland ' 'Mondeo' 'Corsa' ' Zafira Tourer' ' ECOSPORT' ' RS5'
 'Tiguan' 'A3' ' TUCSON' ' R8' ' b class' '4 Series' ' Mustang' ' V Clas'
 ' 5 series' 'GLE Class' ' Tigua' ' I1' ' cl class' ' B-MA' 'Grandland X'
 'Viva' 'Kuga' ' Antara' ' Q8' ' Ka' ' T-RO' ' Camry' ' FOCU'
 ' YETI OUTDOOR' ' 1 series' ' Rapi' ' auris' 'Fiesta' 'RAV4' ' CLK'
 'Mokka X' ' mondeo' ' RS3' ' a3' ' a class' ' Jetta' ' e class'
 ' 3 SERIES' 'focus' 'Golf SV' ' m class' ' i3' ' golf' ' Kadjar' ' Cors'
 ' Zafira Toure' ' q5' ' GLC CLASS' 'U' ' PASSAT' ' MERIVA' 'A6' ' Yari'
 ' SQ5' ' slk' ' B Clas' ' KAMIQ' ' aygo' 'Mokka' 'Prius' ' passat'
 ' A CLASS' ' VIVA' ' rapid' ' mokka ' ' insignia' ' mokka' ' Citig'
 ' S-MA' ' RS4' ' puma' ' ayg' ' Supra' ' x2' ' AYGO' ' 4 series' 'golf'
 ' GALAXY' ' Tucso' ' i8' ' X7' ' Galax' ' t-roc' ' Super' ' sq7'
 ' G Class' ' i30' ' C-H' ' 2 SERIES' ' GLA CLASS' ' KONA' ' OCTAVIA'
 ' x-clas' ' x3' 'I10' ' grandland x' ' GLC Clas' ' S3' 'Insignia' 'Focu'
 ' COMBO LIFE' 'I40' ' I80' ' tt' 'Zafira' ' Crossland ' 'B-MAX'
 ' 2 Serie' ' Arteo' ' Tigra' ' CORSA' ' Escort' ' GLB Class' ' 3 serie'
 ' c-hr' ' SCALA' ' MONDE' ' yaris' ' GLA Clas' ' CL Clas' ' Vivaro'
 ' Verso-S' 'gtc' ' Monde' ' corolla' ' 7 Serie' ' T-Ro' ' up' ' X-CLAS'
 'Adam' ' gla class' ' TOUAREG' ' Ioni' ' T-Cros' 'Passat' ' gle class'
 ' Viv' ' M5' '2 Serie' ' kodiaq' ' x-class' ' Veloste' 'Superb'
 ' Santa F' 'Aygo' ' Zafir' 'Octavia' 'C-MAX' ' S4' ' T-ROC' ' UP'
 ' citigo' ' Yeti Outdoo' ' edge' ' Auri' ' santa fe' ' mustang' 'Citigo'
 ' q7' ' Fabi' ' q2' ' IQ' ' glc class' 'RAV' ' A2' ' gt86' ' CL CLASS'
 ' yeti' 'Hilux' ' TIGUAN' ' Caddy Maxi' '200' 'SL CLASS' ' CITIGO'
 ' amarok' 'Up' ' verso' ' scirocco' 'Ioniq' 'Q8' ' U' 'Arteon' ' superb'
 'Q7' ' T-CROSS' ' KA+' ' Streetka' ' Roomste' ' ZAFIRA' ' ecosport'
 'Scala' ' v class' ' ka+' ' x' ' KAMI' ' c-max' ' karoq' ' Caddy' 'polo'
 'Z4' 'B Class' ' galaxy' ' octavia' ' TIGUAN ALLSPACE' ' KAROQ' ' ka'
 ' caravelle' ' Cascada' 'GTC' ' scala' ' s-max' 'C-HR' 'kodiaq' 'B-MA'
 ' C-MA' ' Accent' 'CLS Class' ' tourneo custom' ' cls class' ' touareg'
 ' KODIAQ' 'TT' ' Karo' ' 6 SERIES' ' b-max' ' SCIROCCO' ' shuttle' ' Kon'
 'Octavi' ' tourneo connect' ' Scirocc' ' a6' 'S Class' ' PUMA'
 ' grand c-max' ' S8' ' RS' ' touran' 'Q2' 'C Clas' 'Kona' ' a' 'X2'
 ' CROSSLAND X' ' gol' ' tiguan allspace' ' Golf S' ' RAV' ' K' ' S Clas'
 ' SANTA FE' ' Grand C-MA' ' Toura' 'E CLASS' 'S-MAX' 'M3' ' Beetl' 'rav4'
 'I20' ' COROLLA' ' s3' ' zafira' 'Mustang' ' V CLASS' 'x1' ' a7'
 'Santa Fe' 'EcoSport' ' tucson' 'Beetle' ' TIGUA' ' Ada' ' INSIGNI'
 ' grandland ' ' adam' 'SLK' ' Z' ' CLS Clas' 'Amarok' ' s class'
 'a class' ' SQ7' ' AVENSIS' ' Ranger' 'Crossland X' 'fiesta' 'X6' 'Fiest'
 ' golf s' ' golf sv' ' I2' 'Scirocco' ' MOKKA' ' Grand Tourneo Connec'
 ' M' 'RS6' ' S CLASS' ' Meriv' 'Zafir' ' Caravell' 'Pol' ' C CLAS' ' cc'
 'Verso' '220' ' super' 'A8' ' VECTRA' ' combo life' '5 SERIES' ' B CLASS'
 ' CLS CLASS' ' KON' ' Tiguan Allspac' ' IONIQ' ' CLA CLASS' 'Sharan'
 ' ix20' 'Insigni' 'Tourneo Connect' ' Scal' ' 6 series' ' 8 Serie' '230'
 'UP' 'Galaxy' ' scal' ' Ampera' 'T-Cross' 'FIESTA' ' Fox' 'Fusion'
 ' Urban Cruiser' 'astra' 'b class' 'a8' ' GLS Clas' ' ADAM' ' avensis'
 ' Amaro' 'I30' 'Arteo' ' M2' ' T' ' M CLASS' ' kona' 'M Class' 'IONIQ'
 'Tigua' '6 Series' ' Coroll' '1 SERIES' ' 1 SERIE' ' Combo Lif' 'Golf S'
 'Roomster' ' cors' ' GL CLASS' 'CC' 'X1' ' Caddy Maxi Lif' 'aygo' ' yari'
 'X7' 'X3' ' prius' ' kamiq' ' TUCSO' ' M Clas' 'Z3' 'Supra' ' t-cros'
 'Yari' ' sl class' ' Touare' ' i40' 'CL Class' ' YARI' ' GOL' ' meriva'
 'Yeti Outdoor' ' CORS' 'c class' 'A CLASS' ' GLS CLASS' 'TIGUAN' ' S5'
 'COMBO LIFE' ' Tourneo Custo' ' a clas' 'corsa' 'e class' ' Edg' 'Tucso'
 ' 7 SERIES' 'A7' ' Yet' 'i3' ' IX2' 'FABIA' ' c clas' '1 series' ' focu'
 ' 1 serie' ' TOURA' 'Corolla' ' SL' ' i' 'Vectra' ' 7 series' 'q5'
 ' CLC Class' ' GOLF SV' 'KA' 'tiguan' ' M6' 'CLK' ' gtc' ' SHARAN' 'Gol'
 ' Hilu' ' GLE CLASS' 'M5' ' gls class' 'Mokka ' '3 Serie' ' glc clas'
 ' ix35' 'IX35' 'V Class' ' Urban Cruise' 'Rapid' 'Combo Life' ' z4'
 ' ioniq' ' GRANDLAND X' ' t-cross' 'corolla' 'R8' 'Mokk' 'octavia'
 ' 6 Serie' ' JETTA' ' Land Cruise' 'ka+' ' rav' 'Grand C-MAX' ' 8 series'
 'RS3' 'kuga' ' cla class' ' ARTEON' ' r8' ' beetle' ' gl class' 'Yeti'
 'GL Class' 'IX20' ' Vectra' ' 8 SERIES' ' Vers' ' Terracan'
 ' ZAFIRA TOURER' 'Kodiaq' 'Zafira Tourer' ' m3' ' AYG' 'Avensis' ' s-ma'
 'X4' ' m4' 'yaris' 'FOCUS' ' arteon' ' glb class']
year:
[2016.         2019.         2018.         2014.         2017.
 2020.         2013.                   nan 2015.         2023.36707842
 2011.         2012.         2023.1169636  2003.         2009.
 2007.         2005.         2011.11118842 2011.21085349 2023.97731126
 2004.         2010.         2010.56500919 2008.         2024.12175905
 2006.         2023.60527574 2023.38982198 2010.67696784 2001.
 2000.         2023.26798867 2010.26863473 2010.37154646 2002.
 2022.69668507 2009.81675711 2010.7464032  2012.69574039 1996.
 1998.         2022.87800554 1970.         1999.         1997.        ]
price:
[22290 13790 24990 ... 33606 16809 25785]
transmission:
['Semi-Auto' 'Manual' 'anual' 'Semi-Aut' 'Automatic' 'manual' nan
 'unknown' 'Manua' 'AUTOMATIC' 'MANUAL' 'semi-auto' ' Manual ' 'automatic'
 'emi-Auto' 'SEMI-AUTO' 'SEMI-AUT' 'Automati' 'ANUAL' 'utomatic' 'unknow'
 'EMI-AUTO' 'manua' 'anua' 'emi-Aut' 'MANUA' 'emi-auto' 'UTOMATIC'
 ' manual ' ' MANUAL ' 'UNKNOWN' 'nknown' 'automati' 'Other' 'semi-aut'
 ' Manual' 'AUTOMATI' 'utomati' 'Manual ' 'manual ' 'nknow']
mileage:
[28421.  4589.  3624. ... 13613. 52134. 69072.]
fuelType:
['Petrol' 'Diesel' 'etrol' 'Hybrid' 'diesel' 'iesel' nan 'petrol' 'PETROL'
 'Diese' 'Petro' 'DIESEL' 'petro' 'HYBRID' 'ybri' 'Other' 'DIESE' 'Hybri'
 'ETROL' 'ybrid' 'PETRO' 'hybrid' 'IESEL' 'Electric' 'ther' 'iese' 'etro'
 'ETRO' 'diese' 'Othe' 'YBRID' 'HYBRI' 'OTHER' 'other' 'IESE']
tax:
[         nan 145.          30.          20.         150.
 160.         -56.19320154   0.         125.         200.
 250.         135.         300.         205.         260.
 326.02823317 325.         -45.78061049 265.         305.
 303.14889146 235.         299.47350391 240.         165.
 140.         540.         155.         220.         120.
 330.         290.48678508 -20.24107949 -18.33074314 327.91577835
 270.         115.         185.         316.48718937 570.
 -49.15354066 316.29630636 -60.6840948  555.         277.38425448
 -91.12163048  10.         315.         190.         -31.91494466
 230.         -43.24208237 294.84340933 195.         580.
 290.         130.         565.         210.         280.
 255.         520.         295.         245.         110.
 535.        ]
mpg:
[ 11.41726775  47.9         40.9         65.7         42.8
  60.1         68.9         62.8         67.3         54.3
  57.7                 nan  56.5         72.4         47.1
  44.1         46.3         32.5         48.7         74.3
  43.5         78.5         51.4         50.4         67.
  28.5         64.2         61.4         41.5         52.3
  53.3         44.8         35.8         80.7         37.2
  49.6         42.2         45.6         34.          74.4
  29.1         76.3         40.3         58.9         39.8
  55.4         40.4         78.4         83.1         33.2
  34.5         70.6         35.3         39.2         32.8
  34.9         61.7         30.         156.9         36.2
  58.          38.2         69.          37.7         57.6
  66.         151.04180955   9.42917895  85.6         58.8
  89.77369267  78.          30.4         36.7        235.
 134.5         27.70948954  88.32163955  88.3         56.6
 -43.42176751 100.99894302  31.          38.7         33.6
  20.74549979  22.1        188.3         47.7         43.4
  31.4         28.8         76.4         24.6         68.8
  55.          29.4         94.1         20.71009481  31.7
  32.1         32.9         30.1         22.4         53.
  28.          94.78638042   5.5          6.          30.7
  47.          27.2          1.1         43.          65.6
  29.7         21.4          9.82146197  86.          29.5
  23.5         26.4        113.          55.5         81.56893961
  16.3501525  117.7         43.6        166.          92.82689954
  22.6         24.8         26.9         33.7        470.8
 256.8         54.4        166.2          8.8        217.3
  25.5         23.          21.6        110.34497687 148.7
  25.4         22.2        141.2         38.1         27.4
  23.7        122.8         61.1         22.8         20.9
  44.6         92.11045521  34.4         23.3         42.4
  27.7         78.6         28.3         14.49714632  20.8
  23.9        201.8        176.6         21.1         24.1
  42.1         25.2         19.5        141.3         19.6
  46.          38.6          2.8         40.          30.8
  28.2         51.3         51.1         22.3         42.9
  24.4         17.8        122.9        135.5         26.7
  33.3         21.9         62.7         20.5        235.4
  42.          37.6         19.8         26.6         42.16
  19.          20.3         21.7         54.2         25.9
  26.3        128.4         20.          19.1        100.9
  48.4         21.          26.2         19.3         54.7
  27.9         67.7         53.5       ]
engineSize:
[ 2.          1.5         1.          1.4         1.6                nan
  1.2         3.          1.8         2.1         1.3         0.7395339
  0.          2.3         1.1         4.          1.7         2.98579344
  2.2         2.5         2.61964142 -0.1034928   2.78177621  2.63120047
  3.72371217  0.15452932  4.2         3.2         2.9         2.8
  0.31340658  2.06411863  3.73923548  2.4         0.18642488  2.6631132
  5.2         0.19146242  5.          0.30707394  0.37112737  4.4
  6.2         3.82275785  1.9         0.6         6.6         5.5
  3.5         4.7         0.16286595  2.7         3.6         2.6
  4.3         5.4         4.5         4.1         6.        ]
paintQuality%:
[ 63.          50.          56.          97.          74.
  75.          59.          85.          35.          68.
  45.          30.          69.          53.          57.
  40.          60.          94.          33.          51.
  47.          87.          61.          83.          95.
  46.          54.          80.          77.          90.
  91.          71.          44.          38.          64.
  55.          66.          82.          41.          81.
  79.          72.          34.          88.                  nan
  43.          31.          32.          96.          84.
  70.          86.          92.          52.          39.
  42.          73.          78.          37.          65.
  93.          89.          99.          36.          62.
 125.10995148   3.1152953   67.         125.5694986   76.
  48.           3.17268306  49.           3.25476013 125.59430832
  98.          58.           3.20741784 125.4535988    3.14037046
   1.76947364   3.22574362 125.30194543 125.20203342 125.18872876
 125.36650692   2.72515272 125.00377307   1.63891309]
previousOwners:
[ 4.          1.         -2.34030622  3.          0.          2.
         nan -2.34565     6.25837066 -2.33512284  6.22789796  6.25823052
  6.23017958 -2.33936045  6.21772443  6.24583495 -2.29943868 -2.34010209
 -2.31225953  6.2482512  -2.31733109  6.23308217  6.24177863 -2.33744529]
hasDamage:
[ 0. nan]

In [11]:
# Check for any duplicated observations
train_data.duplicated().sum()

np.int64(4)

In [12]:
# Check the data types of the variables
train_data.dtypes

Brand              object
model              object
year              float64
price               int64
transmission       object
mileage           float64
fuelType           object
tax               float64
mpg               float64
engineSize        float64
paintQuality%     float64
previousOwners    float64
hasDamage         float64
dtype: object

In [13]:
# Check for any missing values
train_data.isna().sum()

Brand             1521
model             1517
year              1491
price                0
transmission      1522
mileage           1463
fuelType          1511
tax               7904
mpg               7926
engineSize        1516
paintQuality%     1524
previousOwners    1550
hasDamage         1548
dtype: int64

We have a lot of missing values, so let's take care of them. But, first, let's divide the columns into metric and non-metric features.

In [14]:
non_metric_features = ["Brand", "model", "transmission", "fuelType"]
metric_features = train_data.columns.drop(non_metric_features).to_list()

In [15]:
# Calculate the mean for each metric feature
means = train_data[metric_features].mean()
means

year               2017.096611
price             16881.889553
mileage           23004.184088
tax                 120.329078
mpg                  55.152666
engineSize            1.660136
paintQuality%        64.590667
previousOwners        1.994580
hasDamage             0.000000
dtype: float64

In [16]:
# Calculate the median for each metric feature
medians = train_data[metric_features].median()
medians

year               2017.0
price             14699.0
mileage           17300.0
tax                 145.0
mpg                  54.3
engineSize            1.6
paintQuality%        65.0
previousOwners        2.0
hasDamage             0.0
dtype: float64

In [ ]:
# Do an histogram to choose which method we will use to fill the missing values with